@use '../variables' as *;
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 200;
  position: absolute;
  top: 75px;
  right: 20px;

  .bar {
    display: block;
    width: 28px;
    height: 4px;
    margin: 4px 0;
    background-color: #003267;
    border-radius: 2px;
    transition: all 0.4s;
  }
}

.hamburger.active .bar:nth-child(1) {
  transform: rotate(50deg) translate(10px, 6px);
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
  transform: rotate(-50deg) translate(10px, -6px);
}

@media (max-width: 600px) {
  .hamburger {
    display: flex;
  }
  #main-nav {
    display: none;
    flex-direction: column;
    background: #c9dfffe3;
    position: absolute;
    top: 60px;
    right: 0;
    width: 30%;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 40px 20px 0 0;
    transition: all 0.8s;
    border-radius: 40px;
  }
  #main-nav.open {
    display: flex;
  }
  #main-nav a, #main-nav {
    margin: 10px 0;
    font-size: 0.9em;
    border-radius: 25px;
    text-align: right;

    &:hover {
      background: transparent;
    }
  }
}